.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    position: relative;
  }
  
  .home-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
  }
  
  .auth-box {
    display: flex;
    width: 80%;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .auth-image {
    flex: 1;
    background-image: url('https://i.pinimg.com/736x/a6/35/1f/a6351f0b5525986159a36fb3a6e83011.jpg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
  }
  
  .auth-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .avatar {
    background-color: #d8beb4;
    color: #d8531f;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .auth-form h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .auth-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .auth-form button {
    width: 100%;
    padding: 12px;
    background-color: #d8531f;;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-form button:hover {
    background-color: #d8531f;;
  }
  
  .auth-form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .auth-form label input {
    margin-right: 8px;
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .links a {
    color: #2c2a29;;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  .google-auth-container {
    margin-top: 20px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }